Source: aptfs
Section: utils
Priority: extra
Maintainer: Chris Lamb <chris@chris-lamb.co.uk>
Build-Depends-Indep: python-all-dev
Build-Depends: debhelper (>= 5), python-support
Standards-Version: 3.7.3
Vcs-Git: git://git.chris-lamb.co.uk/aptfs.git
Vcs-Browser: http://git.chris-lamb.co.uk/?p=aptfs.git

Package: aptfs
Architecture: all
Depends: ${python:Depends}, fuse-utils (>= 2.2), python-fuse (>= 1:0.2-pre3), dctrl-tools, devscripts
Description: FUSE filesystem for APT source repositories
 AptFs is a FUSE-based filesystem that provides a view to unpacked Debian
 source packages (obtained via apt-get source) as regular folders. Binary
 packages are modelled as symbolic links pointing to their respective source
 package.
