Source: aptfs
Section: utils
Priority: optional
Maintainer: Ville Korhonen <ville@xd.fi>
Build-Depends:
 debhelper-compat (= 12),
 dh-python,
 python3-all,
Standards-Version: 4.4.0
Homepage: https://ypcs.fi/projects/aptfs
Vcs-Git: https://github.com/ypcs/aptfs.git
Vcs-Browser: https://github.com/ypcs/aptfs
Rules-Requires-Root: no

Package: aptfs
Architecture: all
Depends:
 python3-apt,
 python3-fuse,
 ${misc:Depends},
 ${python3:Depends},
Description: FUSE filesystem for APT source repositories
 AptFs is a FUSE-based filesystem that provides a view to unpacked Debian
 source packages (obtained via APT) as regular folders. Binary packages are
 modelled as symbolic links pointing to their respective source package.
